{% extends "home/index.html" %}
{%load static%}
{% block header %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" />

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>

<section id="services" class="services">
    <div class="container">

        <div class="container">
            <h2 style="margin-top: 3%; margin-bottom: 2%;">Preguntas Examen Psicologico</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Tipo de pregunta</th>
                        <th>Medicion SI</th>
                        <th>Medicion NO</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.pregunta }}</td>
                        <td>{{ object.tipo_pregunta }}</td>
                        <td>{{ object.medicion_si }}</td>
                        <td>{{ object.medicion_no }}</td>
                        <td>
                            <button type="button" class="btn btn-secondary move"><a class=""
                                href="{% url 'act_preg_psi' pk=object.id %}"><i class="far fa-edit" style="color: white;">Editar
                                  Pregunta</i></button>
                          </td>
              
                          <td>
                            <button type="button" class="btn btn-danger move"><a class=""
                                href="{% url 'borr_preg_psi' pk=object.id %}"><i class="far fa-edit" style="color: white;">Borrar
                                  Pregunta</i></button>
                          </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>



        <div class="container pagination">
            <span class="step-links">
              <!--              <a href="?page=1">&laquo; Primera Pagina</a> -->
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-double-left"></i>Anterior</a></li>
                {% endif %}
                <span style="color: black;" class="page-link current">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente<i class="bi bi-chevron-double-right"></i></a></li>
                {% endif %}
      
              </ul>
            </span>
          </div>
          <div style="margin-top: 2%;" class="container">
            <button type="button" class="btn btn-primary"><a style="color: white;" href="{% url 'crear_preg_psi'%}">Agregar
                Nueva Pregunta</a></button>
          </div>
    </div>

    </div>
</section><!-- End Services Section -->

<script type="application/javascript">

$('form').on('submit', function (e) {e.preventDefault();

 //Autocomplete de clientes

});
    
    
</script>


{% endblock %}


