{% extends "home/index.html" %}
{%load static%}
{% block header %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" />

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>

<section id="services" class="services">
    <div class="container">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
            <h2 style="margin-top: 3%; margin-bottom: 2%;">Ordenes por atender</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Orden</th>
                        <th>Estado</th>
                        <th>Emitido</th>
                        <th>Evaluación Medica</th>
                        <th>Evaluación Psicologica</th>                        
                        <th>Atendido</th>
                        <th>Cancelar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.paciente }}</td>
                        <td>{{ object.nombre_orden }}</td>
                        <td>{{ object.estado }}</td>
                        <td>{{ object.fecha_emision }}</td>
                        {% if object.formulario == '3' %}
                        <td>
                            <button type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_med_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                            
                        <td>
                            <button type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_psi_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                                                                              
                        {% elif object.formulario == '0' %}        
                        <td>
                            <button type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_med_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                            
                        <td>
                            <button disabled type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_psi_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                                                                             
                        {% elif object.formulario == '1' %}        
                        <td>
                            <button disabled type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_med_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                            
                        <td>
                            <button type="submit" class="btn btn-secondary move"><a class="" href="{% url 'ex_psi_creat' pk=object.id %}"><i class="far fa-edit" style="color: white;"> Atender</i></button>
                        </td>                            
  
                        {% endif %}        
                        <td>
                            <button type="button" class="btn btn-primary move"><a class=""
                                href="{% url 'fin_man' pk=object.id %}"><i class="far fa-edit" style="color: white;">Finalizar</i></button>
                          </td> 
                          <td>
                            <button type="button" class="btn btn-danger move"><a class=""
                                href="{% url 'fin_or' pk=object.id %}"><i class="far fa-edit" style="color: white;">Cancelar</i></button>
                          </td>                           
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        </div>

        <div class="container pagination">
            <span class="step-links">
              <!--              <a href="?page=1">&laquo; Primera Pagina</a> -->
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-double-left"></i>Anterior</a></li>
                {% endif %}
                <span style="color: black;" class="page-link current">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente<i class="bi bi-chevron-double-right"></i></a></li>
                {% endif %}
      
              </ul>
            </span>
          </div>


    </div>
</section><!-- End Services Section -->

<script type="application/javascript">

$('form').on('submit', function (e) {e.preventDefault();

 //Autocomplete de clientes

});
    
    
</script>


{% endblock %}


