{% extends "home/index.html" %}
{% load crispy_forms_tags %}
{%load static%}
{% load widget_tweaks %}
{% block header %}
{% endblock %}


{% block body %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/form_adelantos.js' %}"></script>
<section id="services" class="services">
    <div class="container">

        <div class="container">
            {% if view_type == 'update' %}
            <h2 style="margin-top: 3%;">Actualizar Proveedores</h2>
            {% else %}
            <h2 style="margin-top: 3%;">Registrar Proveedores</h2>
            {% endif %}
            <form style="margin-top: 2%;" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Crear Proveedor</button>

            </form>
        </div>

    </div>
</section><!-- End Services Section -->

{% endblock %}

