{% extends "home/index.html" %}
{%load static%}
{% block header %}
{% endblock %}
{% load humanize %}


{% block body %}

<link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static '/lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet"
    href="{% static '/lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />

<link rel="stylesheet" href="{% static 'js/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">


<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>


<section id="services" class="services">
  <div class="container">


    <form style="margin-top: 2%;" method="post">
        {% csrf_token %}

        <div class="row">
          <div class="row">
            <div class="col-md-3">
              <label class="requiredField" style="margin-bottom: 2%;"><strong>Fecha Inicio</strong></label>
              <div>{{form.fecha}}</div>
            </div>
    
            <div class="col-md-3">
              <label class="requiredField" style="margin-bottom: 2%;"><strong>Fecha Fin</strong></label>
              <div>{{form.fecha_fin}}</div>
            </div>
          </div>    
          </div>
      </div>

        <div style="margin-top: 2%;" class="row">
            <div class="col-md-3">
                <button class='btn btn-primary btn-sm' type='submit'>Generar Reporte</button>
            </div>
        </div>

    </form>
    <div class="container">
      <h2 style="margin-top: 3%; margin-bottom: 3%; text-align: center"><strong>Reporte de cierre:</strong></h2>
      <h3 style="margin-top: 3%; margin-bottom: 3%; text-align: center">Del {{fecha_atras}} al {{fecha_hoy}}</h3>
      <table id='tblToExcl' class="table">
        <thead>
          <tr>
            <th>Vendedor</th>
            <th>Monto de venta</th>
            <th>cant. Facturas</th>
            <th>Monto de adelantos</th>
            <th>cant. Adelantos</th>
            <th>Total Pago</th>
          </tr>
        </thead>
        <tbody>
          {% for data in cd_vend.all %}
          <tr>
            <td>{{ data.vendedor}}</td>
            <td>L {{data.total_monto_venta|floatformat:2|intcomma}}</td>
            <td>{{ data.cant_ventas }}</td>
            <td>L {{ data.total_adelanto|floatformat:2|intcomma }}</td>
            <td>{{ data.total_adelantos }}</td>            
            <td>L {{ data.total_a_pagar|floatformat:2|intcomma }}</td>        
           </tr>
          {% endfor %}
          <tr>
            <td colspan=6></td>
          </tr>
          <tr>
          </tr>                      
          <tr>
            <td colspan=1><strong>Total de ventas:</strong></td>
            <td colspan=2>L {{tot_ventas|floatformat:2|intcomma}}</td>
            <td colspan=1><strong>Total Facturas:</strong></td>
            <td colspan=2>{{cd_tot_ord|intcomma}}</td>            
          </tr>  
          <tr>
            <td colspan=6></td>
          </tr>          
          <tr>
            <td colspan=6 align='center'><strong>Total por metodo de pago</strong></td>
          </tr>   
          <tr>
            <td colspan=2 align='center'><strong>Metodo de pago</strong></td>
            <td colspan=2 align='center'><strong>Cantidad de ordenes</strong></td>            
            <td colspan=2 align='center'><strong>Monto</strong></td>            
          </tr>                               
          {% for data in det_mp.all %}                                      
          <tr>
            <td colspan=2 align='center'>{{data.tipo_pago}}</td>
            <td colspan=2 align='center'>{{data.cantidad_ord}}</td>                        
            <td colspan=2 align='center'>L {{data.tot_mont_mp|floatformat:2|intcomma}}</td>            
          </tr>   
          {% endfor %}   
          <tr>
            <td colspan=6></td>
          </tr>                                
          <tr>
            <td colspan=1><strong>Total:<strong></td>
            <td colspan=2>L {{tot_ventas|floatformat:2|intcomma}}</td>
            <td colspan=1><strong>Total cantidad de ordenes:<strong></td>
              <td colspan=2>{{cd_tot_ord|intcomma}}</td>            
          </tr>                             
          <tr>
            <td colspan=6></td>
          </tr>
          <tr>
          </tr>   
          <tr>
            <td colspan=6 align='center'><strong>Arqueo de caja</strong></td>
          </tr>      
          <tr>
            <td colspan=2 align='center'><strong>Billete LPS</strong></td>
            <td colspan=2 align='center'><strong>Cantidad</strong></td>            
            <td colspan=@ align='center'><strong>Monto</strong></td>                        
          </tr>   
          {% for data in det_arqueo.all %}                                      
          <tr>
            <td colspan=2 align='center'>{{data.billete}}</td>
            <td colspan=2 align='center'>{{data.total_cant_bill|intcomma}}</td>            
            <td colspan=2 align='center'>L {{data.total_cant_mont|floatformat:2|intcomma}}</td>            
          </tr>   
          {% endfor %}      
          <tr>
            <td colspan=6></td>
          </tr>     
          <tr>
            <td colspan=6 align='center'><strong>Cuadro de cierre</strong></td>
          </tr>                                                   
          <tr>
            <td><strong>Total arqueo de caja:<strong></td>
            <td colspan=5>L {{total_arqueo|floatformat:2|intcomma}}</td>
          </tr> 
          <tr>
            <td><strong>Total venta en caja:<strong></td>
            <td colspan=5>L {{total_arqueo|floatformat:2|intcomma}}</td>
          </tr>                   
          <tr>
            <td><strong>Menos fondo de caja:</strong></td>
            <td colspan=5>L {{fondo_caja|floatformat:2|intcomma}}</td>
          </tr> 
          <tr>
            <td><strong>Total venta efectivo caja:<strong></td>
            <td colspan=5>L {{tot_vent_efe_c|floatformat:2|intcomma}}</td>
          </tr>                                     
          <tr>
            <td colspan=6></td>
          </tr>
          <tr>
          </tr>
          <tr>          
          <tr>
            <td colspan=6 align='center'><strong>Detalle de adelantos</strong></td>
          </tr>      
          <tr>
            <td colspan=2 align='center'><strong>Solicitante</strong></td>
            <td colspan=2 align='center'><strong>Cantidad adelantos</strong></td>
            <td colspan=2 align='center'><strong>Monto</strong></td>            
          </tr>   
          {% for data in det_adel.all %}                                      
          <tr>
            <td colspan=2 align='center'>{{data.solicitante}}</td>
            <td colspan=2 align='center'>{{data.total_cant_adel}}</td>            
            <td colspan=2 align='center'>L {{data.total_monto_sol|floatformat:2|intcomma}}</td>            
          </tr>   
          {% endfor %}      
          <tr>
            <td colspan=6></td>
          </tr>                                             
          <tr>
            <td colspan=1><strong>Total monto de adelantos:<strong></td>
            <td colspan=2>L {{tot_adel|floatformat:2|intcomma}}</td>
            <td colspan=1><strong>Cantidad total de adelantos:<strong></td>
              <td colspan=2>{{tot_cant_adel|intcomma}}</td>            
          </tr>          
          <tr>
            <td colspan=6></td>
          </tr>
          <tr>
          </tr>
          <tr>
            <td colspan=6 align='center'><strong>Detalle de productos</strong></td>
          </tr>      
          <tr>
            <td colspan=2 align='center'><strong>Producto</strong></td>
            <td colspan=2 align='center'><strong>Total ordenes</strong></td>                        
            <td colspan=2 align='center'><strong>Monto Facturado</strong></td>
          </tr>   
          {% for data in det_prod.all %}                                      
          <tr>
            <td colspan=2 align='center'>{{data.nombre}}</td>
            <td colspan=2 align='center'>{{data.tot_or|intcomma}}</td>                   
            <td colspan=2 align='center'>L {{data.tot_mont_fact|floatformat:2|intcomma}}</td>       
          </tr>   
          {% endfor %}      
          <tr>
            <td colspan=6></td>
          </tr>                                
          <tr>
            <td colspan=1><strong>Total de productos:<strong></td>
            <td colspan=2>L {{tot_ventas|floatformat:2|intcomma}}</td> 
            <td colspan=1><strong>Total cantidad de ordenes:<strong></td>
              <td colspan=2>{{cd_tot_ord|intcomma}}</td>            
          </tr>                     
        </tbody>
      </table>
    </div>
    <div class="container pagination">
      <span class="step-links">

        <!--              <a href="?page=1">&laquo; Primera Pagina</a> -->
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-double-left"></i>Anterior</a></li>
          {% endif %}
          <span style="color: black;" class="page-link current">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente<i class="bi bi-chevron-double-right"></i></a></li>
          {% endif %}

        </ul>

      </span>
    </div>
    <button class='btn btn-primary btn-sm' onclick="htmlTableToExcel('xlsx')">Exportar Reporte</button>
  </div>
  
</section><!-- End Services Section -->

<script type="application/javascript">
  


  function htmlTableToExcel(type){
    var data = document.getElementById('tblToExcl');
    var excelFile = XLSX.utils.table_to_book(data, {sheet: "sheet1"});
    XLSX.write(excelFile, { bookType: type, bookSST: true, type: 'base64' });
    XLSX.writeFile(excelFile, 'ReporteCierre.'+ type);
   }
  
  

    $(function () {
      let csrftoken = '{{ csrf_token }}'

        //Autocomplete de clientes
        $('input[name="search"]').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'obt_cli' %}",
                    type: 'POST',
                    headers:{'X-CSRFToken':csrftoken},
                    data: {
                        'action': 'autocomplete',
                        'term': request.term
                    },
                    dataType: 'json'
                }).done(function (data) {
                    response(data);
                    //        console.log(data)
                }).fail(function (data, jqXHR, textStatus) {
                    console.log("La transaccion fallo debido a: " + textStatus);
                })

            },
            delay: 200,
            minLength: 1,
            select: function (event, ui) {

              document.getElementById("id_search").value = ui.item.nombre;
               
            }

        });


        });
    


  </script>

{% endblock %}