{% extends "home/index.html" %}
{%load static%}
{% block header %}
{% endblock %}


{% block body %}
<section id="services" class="services">
  <div class="container">

    <div class="container">
      <h2 style="margin-top: 3%; margin-bottom: 2%;">Visualice el listado de empleados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Identidad</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Ingreso</th>
            <th>Funcion</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>{{ object.nombre }}</td>
            <td>{{ object.identidad }}</td>
            <td>{{ object.telefono }}</td>
            
            {% if object.direccion == None %}
            <td>--</td>
            {% else %}
            <td>{{ object.direccion }}</td>
            {% endif %} 

            {% if object.correo == None %}
            <td>--</td>
            {% else %}
            <td>{{ object.correo }}</td>
            {% endif %}


            <td>{{ object.fecha_ingreso }}</td>

          {% if object.t_empleado == "0" %}
          <td>Doctor</td>          
          {% elif  object.t_empleado == "1" %}
          <td>Psicologo</td>
          {% elif  object.t_empleado == "2" %}
          <td>Secretario</td>
          {% elif  object.t_empleado == "3" %}
          <td>Administrador</td>
          {% elif  object.t_empleado == "4" %}
          <td>Administrador</td>
          {% elif  object.t_empleado == "5" %}
          <td>Vendedor</td>
          {% else %}
          <td>object.t_empleado</td>
          {% endif %}          
          <td>{{ object.estado }}</td>
            <td>
              <button type="button" class="btn btn-secondary move"><a class=""
                  href="{% url 'act_vendedor' pk=object.id %}"><i class="far fa-edit" style="color: white;">Editar
                    Empleado</i></button>
            </td>

            <td>
              <button type="button" class="btn btn-danger move"><a class=""
                  href="{% url 'borr_vend' pk=object.id %}"><i class="far fa-edit" style="color: white;">Borrar
                    Empleado</i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container pagination">
      <span class="step-links">

        <!--              <a href="?page=1">&laquo; Primera Pagina</a> -->
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-double-left"></i>Anterior</a></li>
          {% endif %}
          <span style="color: black;" class="page-link current">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente<i class="bi bi-chevron-double-right"></i></a></li>
          {% endif %}

        </ul>

      </span>
    </div>


    <div style="margin-top: 2%;" class="container">
      <button type="button" class="btn btn-primary"><a style="color: white;" href="{% url 'crear_vend'%}">Agregar
          Nuevo Empleado</a></button>
    </div>

  </div>
</section><!-- End Services Section -->

{% endblock %}